body{
    background-color: floralwhite;
}

h1{
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    text-justify: auto;
}

address{
    text-align: center;
    padding: inherit;
}

@media screen and (max-width: 500px) {
  h1 address {
    float: none;
    display: block;
    text-align: left;
  }
  
}
